html{
	font-family:'メイリオ', 'Meiryo', sans-serif;
}

body{
	background: #f0f8ff;
}
nav{
	margin-bottom: 1rem;
}

nav ul {
	display: table;
	margin: 0 auto;
	padding: 0;
	width: 100%;
	text-align: center;
}

nav li {
	display: table-cell;
	min-width: 50px;
	width: calc(100% / 3);
}

nav a {
	display: block;
	width: 100%;
	height: 3rem;
	font-size: 1.5rem;
	text-decoration: none;
	color: #555;
	line-height: 3rem
}

nav li.current {
	border-bottom: 3px solid #92D050;
}

nav li:hover {
	color: #E7DA66;
	border-bottom: 3px solid #F0E475;
}

div.main{
	width: 80%;
	height: 100vh;
	margin: 0 auto;
	background: #FFFFFF;
}